#github-dashboard a:link { color: inherit; }
#github-dashboard a:visited { color: inherit; }
#github-dashboard a:hover { color: inherit; }
#github-dashboard a:active { color: inherit; }

.rst {
    all: unset;
}

a.commit-link {
    display:block;
    text-decoration:none;
}

.shadow-box {
    border-radius: 2px;
    width: 75%;
    padding: 5px;
    box-shadow: 1px 1px 30px grey;
    background-color: ghostwhite;
}

.repo-list {
    list-style: none;
}

.commit-list {
    list-style: none;
    padding-bottom: 10px;
}

.commit-hash {
    padding-top: 30px;
    padding-bottom: 10px;
}
